.listOfTasks{
    list-style: none;
    padding: 0;
}

.listOfTasks__task{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid hsl(0, 0%, 85%);
    grid-gap: 10px;
}

.listOfTasks__task--hiden {
    display: none;
}

.listOfTasks__content--done{
    text-decoration: line-through;
}

.listOfTasks__listButton{
    width: 30px;
    height: 30px;
    border: none;
    transition: opacity 150ms;
}

.listOfTasks__listButton:hover{
    opacity: 0.85;
}

.listOfTasks__listButton:active{
    opacity: 0.70;
}

.listOfTasks__toggleButton--done{
    background-image: url(../images/check.png);
    background-size: cover;
    background-position: center;
    background-color: #008065;
}

.listOfTasks__toggleButton--notDone{
    background-color: #008065;
}

.listOfTasks__listButton--delete{
    background-image: url(../images/delete.png);
    background-size: cover;
    background-position: center;
}