.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 2px 2px 7px 0px hsl(0, 0%, 68%);
}

.section__container{
    background-color: white;
    margin-bottom: 2px;
    padding: 20px;
}

.section__container--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

@media(max-width: 767px) {
    .section__container--flex {
        flex-direction: column;
    }
}

.section__subHeader{
    margin: 0;
    padding: 0;
    font-weight: bold;
    align-self: flex-start;
}

.section__eventButtonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media(max-width: 767px) {
    .section__eventButtonsContainer {
        flex-direction: column;
    }
}

.section__button {
    border: none;
    background-color: transparent;
    color: teal;
    transition: opacity 150ms;
}

.section__button:disabled {
    color: rgb(193, 196, 196);
}

.section__button:hover {
    opacity: 0.8;
}