.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 2px 2px 7px 0px hsl(0, 0%, 68%);
}

.section__container{
    background-color: white;
    margin-bottom: 2px;
    padding: 20px;
}

.section__form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

@media(max-width: 767px){
    .section__form{
        flex-direction: column;
        gap: 10px;
    }
}

.section__newTask{
    padding: 10px;
    border: 2px solid hsl(0, 0%, 84%);
    flex-grow: 1;
}

@media(max-width: 767px){
    .section__newTask{
        width: 100%;
    }
}

.section__button{
    padding: 10px;
    border: 2px solid #008080;
    background-color: teal;
    color: white;
    cursor: pointer;
}

@media(max-width: 767px){
    .section__button{
        width: 100%;
    }
}

.section__button:hover{
    opacity: 0.85;
}

.section__button:active{
    opacity: 0.70;
}

.section__subHeader{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.section__listOfTasks{
    list-style: none;
    padding: 0;
}

.section__task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid hsl(0, 0%, 85%);
    gap: 20px;
}

.section__contentContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.section__paragraph{
    margin: 0;
}

.section__paragraph--done{
    text-decoration: line-through;
}

.section__listButton{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.section__listButton:hover{
    opacity: 0.85;
}

.section__listButton:active{
    opacity: 0.70;
}

.section__toggleButton--done{
    background-image: url(../images/check.png);
    background-size: cover;
    background-position: center;
}

.section__toggleButton--notDone{
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
}

.section__listButton--delete{
    background-image: url(../images/delete.png);
    background-size: cover;
    background-position: center;
}