
.header__heading{
    font-weight: bold;
}

.section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.section__container{
    background-color: white;
    margin-bottom: 2px;
    padding: 20px;
}

.section__form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

@media(max-width: 767px){
    .section__form{
        flex-direction: column;
        gap: 10px;
    }
}

.section__newTask{
    padding: 10px;
    flex-grow: 1;
}

@media(max-width: 767px){
    .section__newTask{
        width: 100%;
    }
}

.section__button{
    padding: 10px;
    border: 2px solid teal;
    background-color: teal;
    color: white;
    cursor: pointer;
}

@media(max-width: 767px){
    .section__button{
        width: 100%;
    }
}

.section__button:hover{
    opacity: 0.85;
}

.section__button:active{
    opacity: 0.70;
}

.section__subHeader{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.section__listOfTasks{
    list-style: none;
    padding: 0;
}

.section__task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #b6b3b5;
}

.section__contentContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}