html{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

.body{
    font-family: "Roboto", sans-serif;
    background-color: hsl(90, 5%, 92%);
    padding: 20px;
    word-break: break-word;
}